*{
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body{
    margin:0;
    background:#f8f1e7;
    color:#3d2b1f;
}


/* Sidebar */

.sidebar{
    position:fixed;
    width:240px;
    height:100vh;
    background:#b08d57;
    padding:25px 15px;
    color:white;
}


.sidebar h2{
    text-align:center;
    font-size:28px;
    margin-bottom:40px;
    letter-spacing:2px;
}


.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:14px;
    margin:8px 0;
    border-radius:12px;
    transition:.3s;
}


.sidebar a:hover{
    background:#8c6a3b;
}



/* Main */

.main{
    margin-left:260px;
    padding:40px;
}


h1{
    color:#8c6a3b;
    font-size:32px;
}



/* Cards */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}



.card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    border:1px solid #ead7b7;
}


.card h3{
    color:#b08d57;
    margin-top:0;
}



.card p{
    font-size:25px;
    font-weight:bold;
}



/* Inputs */

input, select{

    width:100%;
    padding:14px;
    margin:8px 0 18px;

    border-radius:12px;

    border:1px solid #d8c09a;

    font-size:16px;
}



button{

    width:100%;

    padding:15px;

    background:#b08d57;

    color:white;

    border:none;

    border-radius:12px;

    font-size:17px;

    cursor:pointer;

}


button:hover{

    background:#8c6a3b;

}



/* Mobile */

@media(max-width:700px){

.sidebar{

    position:relative;

    width:100%;

    height:auto;

}


.main{

    margin-left:0;

    padding:20px;

}

}
